<h1>Nahlášení přeplněného autobusu</h1>
<div class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>Linka autobusu</mat-label>
    <mat-select [(value)]="busLine">
      <mat-option
        *ngFor="let line of lines"
        [value]="line"
      >
        {{line.id}} {{line.line}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Autobus byl plný od zastávky</mat-label>
    <mat-select [(value)]="fromStation">
      <mat-option
        *ngFor="let station of stations"
        [value]="station"
      >
        {{station}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    class="example-full-width"
    appearance="fill"
  >
    <mat-label>Čas odjezdu autobusu podle jízdního řádu ze zvolené zastávky</mat-label>
    <input
      matInput
      type="time"
      [(ngModel)]="time"
    >
  </mat-form-field>

  <mat-form-field
    class="example-full-width"
    appearance="fill"
  >
    <mat-label>Jméno (zobrazí se v podpisu)</mat-label>
    <input
      matInput
      placeholder="Vyplňte jméno"
      type="text"
      [(ngModel)]="name"
    >
  </mat-form-field>
</div>

<div class="preview-container">
  <div style="display: flex; flex-direction: column;">
    <a
      [href]="getMailtoString()"
      mat-raised-button
      color="primary"
      class="send-button"
      [disabled]="!isValid()"
    >Odeslat</a>

    <div style="margin: 16px auto">
      <ng-container *ngIf="isValid()">
        <mat-hint>Stisknutím tlačítka se otevře předvyplněný email, který následně můžete odeslat. Email můžete před
          odesláním upravit</mat-hint>
      </ng-container>
      <ng-container *ngIf="!isValid()">
        <mat-hint>Abyste mohli email odeslat, vyplňte prosím všechna políčka</mat-hint>
      </ng-container>
    </div>

    
  </div>
  <h3 style="margin-top: 16px;">
    Náhled emailu:
  </h3>
  <div class="mail-preview">
    <div>
      <div>Komu: {{ to }}</div>
      <div class="subject">Předmět: <span [innerHTML]="getSubjectString()"></span></div>
      <div class="body" [innerHTML]="getBodyString()"></div>
    </div>
  </div>
</div>


<div>
  <h3>Jak to funguje</h3>
  <p>Informace vyplněné do políček se vloží do předpřipravené šablony. Po kliknutí na tlačíto odeslat budete přesměrováni do Vaší emailové
    aplikace, kde vytvoří email s předvyplněným adresátem, předmětem a obsahem. Tento email můžete ještě upravovat.</p>

  <p>Tato webová stránka <strong>nepoužívá cookies, nezpracovává žádné Vaše údaje ani nemá přístup do Vašeho mailu</strong>.</p>

  <p>Zdrojový kód je volně přístupný <a
      href="https://github.com/kimrjan/report-full-busses"
      target="_blank"
    >zde</a>.</p>
</div>